<div style="display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row; margin-left: 250px; position: fixed; background-color: #ffffff;">
    <span><button class="categories">All</button>
      <button class="categories">Music</button>
      <button class="categories">Table Tennis</button>
      <button class="categories">Swimming</button>
      <button class="categories">Formula 1</button>
      <button class="categories">MKBHD</button>
      <button class="categories">Anil Kapoor Hits</button>
      <button class="categories">Hrithik Roshan Hits</button>
      <button class="categories">Swimming</button>
      <button class="categories">Formula 1</button></span>
  </div>
  <br>
  <br>
  <div style="margin-left: 300px; font: bolder; font-size: xx-large; margin-top: 50px;">Ayush Bhople's settings</div>
</div>