<!-- Navbar Section Start   -->
<nav class="flex_div">
  <div class="nav_left flex_div">
      <i class="fa-solid fa-bars" style="margin-right: 10px;"></i>
      <img src="../../assets/ytlogo.png" class="logo">
  </div>
  <div class="nav_middle flex_div">
      <div class="search_box flex_div">
          <input type="search" placeholder="Search">
          <i class="fa-solid fa-magnifying-glass mag"></i>
      </div>
      <i class="fa-solid fa-microphone mic_icon"></i>
  </div>
  <div class="nav_right flex_div">
      <i class="fa-solid fa-video" id="ctrl1"></i>
      <i class="fa-solid fa-bell" id="ctrl2"></i>
      <app-dropdown></app-dropdown>
  </div>
</nav>
<!-- Navbar Section End   -->