<!-- Sidebar Section Start   -->
<div>
  <div class="sidebar" style="overflow-x: hidden; overflow-y: auto;">
      <div class="shortcut">
          <app-go-home></app-go-home>
          <span><a href=""><i class="fa-solid fa-fire"></i>
                  <p>Explore</p>
              </a></span>
          <app-subscribed></app-subscribed>
          <span><a href=""><i class="fa-solid fa-book-open"></i>
                  <p>Library</p>
              </a></span>
          <span><a href=""><i class="fa-solid fa-clock-rotate-left"></i>
                  <p>History</p>
              </a></span>
          <span><a href=""><i class="fa-solid fa-list"></i>
                  <p>Playlist</p>
              </a></span>
          <span><a href=""><i class="fa-solid fa-message"></i>
                  <p>Message</p>
              </a></span>
          <span><a href=""><i class="fa-solid fa-circle-info"></i>
                  <p>Show more</p>
              </a></span>
          <hr>
      </div>
      <br>
      <div class="subscription">
          <p style="font-weight: 600; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
              Subscriptions</p>
          <br>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>Apple</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>MKBHD</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>T-Series</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>Formula 1</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>BMW</p>
          </a>
      </div>
      <br>
      <hr style="border: 1px solid black;">
      <br>
      <div class="subscription">
          <p style="font-weight: 600; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
              Subscriptions</p>
          <br>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>Apple</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>MKBHD</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>T-Series</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>Formula 1</p>
          </a>
          <a href=""><i class="fa-solid fa-circle-user" id="ctrl3"></i>
              <p>BMW</p>
          </a>
      </div>
  </div>
  <!-- Sidebar Section End   -->
