<div style="display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row; margin-left: 250px; position: fixed; background-color: #ffffff;">
    <span><button class="categories">All</button>
      <button class="categories">Music</button>
      <button class="categories">Table Tennis</button>
      <button class="categories">Swimming</button>
      <button class="categories">Formula 1</button>
      <button class="categories">MKBHD</button>
      <button class="categories">Anil Kapoor Hits</button>
      <button class="categories">Hrithik Roshan Hits</button>
      <button class="categories">Swimming</button>
      <button class="categories">Formula 1</button></span>
  </div>
  <br>
  <br>
  <div class="list_container">
    <div class="vid_list" *ngFor="let item of thumbnails ">
      <a href="#"><img src={{item.thumbnail1}} class="thumbnail"></a>
      <div class="flex_div">
        <i class="fa-solid fa-circle-user" id="ctrl3"></i>
        <div class="vid_info">
          <a href="#">{{item.vidname}}</a>
          <p>{{item.channel}}</p>
          <p>15k views &bull; 3days</p>
        </div>
      </div>
    </div>
    <div class="vid_list">
      <a href="#"><img src="../../../assets/thumbnail3.jpg" class="thumbnail"></a>
      <div class="flex_div">
        <i class="fa-solid fa-circle-user" id="ctrl3"></i>
        <div class="vid_info">
          <a href="#">F1 Singapore Qualifying Highlights by Ayush Bhople</a>
          <p>Ayush Bhople's creation</p>
          <p>15k views &bull; 3days</p>
        </div>
      </div>
    </div>
    <div class="vid_list">
      <a href="#"><img src="../../../assets/thumbnail2.jpg" class="thumbnail"></a>
      <div class="flex_div">
        <i class="fa-solid fa-circle-user" id="ctrl3"></i>
        <div class="vid_info">
          <a href="#">F1 Singapore Qualifying Highlights by Ayush Bhople</a>
          <p>Ayush Bhople's creation</p>
          <p>15k views &bull; 3days</p>
        </div>
      </div>
    </div>
    <div class="vid_list">
      <a href="#"><img src="../../../assets/thumbnail4.jpg" class="thumbnail"></a>
      <div class="flex_div">
        <i class="fa-solid fa-circle-user" id="ctrl3"></i>
        <div class="vid_info">
          <a href="#">F1 Singapore Qualifying Highlights by Ayush Bhople</a>
          <p>Ayush Bhople's creation</p>
          <p>15k views &bull; 3days</p>
        </div>
      </div>
    </div>
  </div>
</div>